.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 2px white  solid;
    height: 3em;
    background-color: rgb(75, 150, 146);
    font-family: cursive;
    width: 100vw;
    
    
}
