/*@import "static/css/styles.css"*/
nav a:hover{
    color:white;
    font-size: 25px;
}
nav a{
    padding: 10px;
}
.container{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color:  rgb(119, 119, 224);
}
.box{
    
    margin-bottom: 2px;
    background-color: rgb(119, 119, 224);;
    border-radius: 15px;

}
.hd1{
    width: 25%;
    height:15%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    text-align: center;
}
.form{
    width: 75%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    
}

.form-input{
    width:250px;
    height: 20px;
    margin: 2px;
    border-radius: 5px;
    border-color: rgb(235, 230, 230);
}
.submit{
    background-color: rgb(119, 119, 224);
    color: white;
    width:259px;
    border: none;
    height: 25px;
}
@media (min-width: 600px){
    .container{
         background-color: red;;
    }
    .box{
        background-color: red;
        border-radius: 10px;
    }
    .form{
        background-color:white;
    }
    .form-input{
        width: 70vh;
    }
}